.player-card {
    color: black;
    border-bottom: 2px solid #242424;
    width: 400px;
    margin: 12px 6px;
    display: flex;
    justify-content: space-between;
}
.player-card:hover {
    background-color: rgb(236, 236, 242);
}
.player-card-button {
    all: unset;
    font-size: 14px;
    border: 1px solid green;
    padding: 2px 4px;
    border-radius: 8px;
    background: rgb(243, 243, 247);
}